<h1>Edit your profile</h1>

<form method="POST">
<label for="input-name">Let us know your full name:</label>
<input id="input-name" type="text" name="name" placeholder="Your Name">

<button>Submit</button>
</form>