<!DOCTYPE html>
<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      {{#if user}}
        <a href="/profile">My profile</a>
        <a href="/main">Main</a>
        <a href="/private">Private</a>
        <a href="/profile/edit">Edit your profile</a>
        <form method="POST" action="/authentication/log-out">
        <button>Log Out</button>
         </form>
      {{else}}
        <a href="/authentication/sign-up">Sign up</a>
        <a href="/authentication/log-in">Log in</a>
      {{/if}}
    </nav>
    {{{body}}}
  </body>
</html>