<h1>Log in your account</h1>

<form method="POST">

<label for="input-username">Username</label>
<input id="input-username" name="username" type="text" placeholder="Your username" required>

<label for="input-password">Password</label>
<input id="input-password" name="password" type="password" placeholder="Your password" required>

<button>Log in</button>

</form>